body {
  font-family: sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #111;
}
header {
  background: #121212;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
main {
  padding: 1rem;
}
.coin {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid #00c853;
}